.body {
    width: 1000px;
    height: 1250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    box-shadow: 0 0 3px 3px #E1E1E1E1;
    border-radius: 1px;
    font-size: 16px;
    resize: none;
    word-wrap: break-word;
    overflow-y: hidden;
    outline: none;
}

.doc-bg {
    padding: 50px 0px;
    background-color: #EEEEEE;
}

.docicons {
    margin-top: 10px;
    padding-right: 40px;
    font-size: 28px;
    cursor: pointer;
}
