.About-pg {
    background: linear-gradient(to bottom left, #3333cc 4%, #6699ff 77%);
    background-size: auto;
    height: 92vh;
    font-weight: bold;
}

.info {
    position: absolute;
    bottom: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    font-family: "serif";
    font-weight: lighter;
    opacity: .90;
    background-color: white;
}

.main-text {
    margin: 40px;
}