.register-bg {
	background: linear-gradient(to bottom left, #3333cc 4%, #6699ff 77%);
	height: 100vh;
	overflow: hidden;	/*gets rid of scrolling*/
}

.register {
	background-color: white;
	padding: 40px;
	margin-top: 30px;
	border-radius: 20px;
}

.submitbutton {
	float: right;
}

.btn-span {
	font-size: 18px;
}